<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>
<body>
    <a href="login">login</a>
    <h3>You're receiving this email because you requested a password reset for your user account at {{ site_name }}</h3>

<h3>Please go to the following page and choose a new password:</h3>

{{ reset_url }}

<h3>Your username, in case you've forgotten: {{ user.username }}</h3>

<h3>Thanks for using our site!</h3>
</body>
</html>

 






