<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    
    <link rel="stylesheet" href="{% static 'css\password.css' %}">
</head>
<body>
   
   <div >
    
    <form  class="pass" method="POST" action="login">
        {% csrf_token %}
        {{ password.as_p }}
    <button class="button" type="submit">submit</button>   
   
   </form> 
</div>
</body>
</html>